
@{
    ViewBag.Title = "Product : Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="page-content" ng-app="myapp" ng-controller="ProductCntrl">

    <div class="page-header">
        <h1>
            @ViewBag.Title

        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <h3 class="text-success">{{TxtMsg}}</h3>
            <ul>
                <li class="text-danger" style="" data-ng-repeat="error in errors">{{error[0].ErrorMessage}}</li>
            </ul>
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" novalidate name="frmProd">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> Category </label>

                    <div class="col-sm-9">
                        <select class="col-xs-10 col-sm-5"
                                ng-model="selectedCategory"
                                ng-options="category.ID as category.Title for category in categories"
                                ng-required="true"
                                ng-change="onCategoryChange()"
                                id="selectedCategory">
                            <option value="">-Select-</option>
                        </select> 

                    </div>
                </div>
                <div class="form-group" ng-show="errorMsgCat">
                    <label class="col-sm-3 control-label no-padding-right visible-lg visible-md visible-sm">&nbsp;</label>

                    <div class="col-sm-9">
                        <span style="color:red">
                            Please Select Category
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> SubCategory </label>

                    <div class="col-sm-9">
                        <select class="col-xs-10 col-sm-5"
                                ng-model="selectedSubCategory"
                                ng-options="subCategory.ID as subCategory.Title for subCategory in subCategories"
                                ng-required="true"
                                id="selectedSubCategory">
                            <option value="">-Select-</option>
                        </select> 
                    </div>
                </div>
                <div class="form-group" ng-show="errorMsgSubCat">
                    <label class="col-sm-3 control-label no-padding-right visible-lg visible-md visible-sm">&nbsp;</label>

                    <div class="col-sm-9">
                        <span style="color:red">
                            Please Select SubCategory
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> Title </label>

                    <div class="col-sm-9">
                        <input type="text" id="idTitle" placeholder="Title" class="col-xs-10 col-sm-5" name="nameTitle" ng-model="title" required />
                    </div>
                </div>
                <div class="form-group" ng-show="errorMsg && frmProd.nameTitle.$error.required">
                    <label class="col-sm-3 control-label no-padding-right visible-lg visible-md visible-sm">&nbsp;</label>

                    <div class="col-sm-9">
                        <span style="color:red">
                            Title is required
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> Description </label>

                    <div class="col-sm-9">
                        <textarea class="col-xs-10 col-sm-5" id="idDesc" rows="8" placeholder="Description" name="nameDesc" ng-model="description"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-3"> Upload Image </label>
                    <div class="space-4"></div>
                    <div class="col-sm-9">
                        <input type="file" id="idImage" name="nameImage" ng-model="image" onchange="angular.element(this).scope().fnValidateExtention()" />
                        <span style="color:red" ng-show="errorMsgImage">
                            Image is required
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> Original Price </label>

                    <div class="col-sm-9">
                        <input type="number" id="idOriginalPrice" placeholder="0" class="col-xs-10 col-sm-5" name="nameOriginalPrice" ng-model="originalPrice"  />
                    </div>
                </div>
                <div class="form-group" ng-show="frmProd.nameOriginalPrice.$error.number">
                    <label class="col-sm-3 control-label no-padding-right visible-lg visible-md visible-sm">&nbsp;</label>

                    <div class="col-sm-9">
                        <span style="color:red">
                            Not valid number!
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> Is Offerable </label>
                    <div class="space-4"></div>
                    <div class="col-sm-9">
                        <input type="checkbox" ng-model="isOfferable" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> Discount (%) </label>

                    <div class="col-sm-9">
                        <input type="number" id="idDiscount" placeholder="0" max="100" class="col-xs-10 col-sm-5" name="nameDiscount" ng-model="discount" />
                    </div>
                </div>
                <div class="form-group" ng-show="frmProd.nameDiscount.$error.number">
                    <label class="col-sm-3 control-label no-padding-right visible-lg visible-md visible-sm">&nbsp;</label>

                    <div class="col-sm-9">
                        <span style="color:red">
                            Not valid number!
                        </span>
                    </div>
                </div>
                <div class="form-group" ng-show="frmProd.nameDiscount.$error.max">
                    <label class="col-sm-3 control-label no-padding-right visible-lg visible-md visible-sm">&nbsp;</label>

                    <div class="col-sm-9">
                        <span style="color:red">
                            Maximum Discount is 100
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> Offer Price </label>
                    <div class="space-4"></div>
                    <div class="col-sm-9">
                        <label ng-model="offerPrice">{{originalPrice - ((originalPrice * discount) / 100)}}</label>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> Quantity </label>

                    <div class="col-sm-9">
                        <input type="number" id="idQuantity" placeholder="0" class="col-xs-10 col-sm-5" name="nameQuantity" ng-model="quantity" />
                    </div>
                </div>
                <div class="form-group" ng-show="frmProd.nameQuantity.$error.number">
                    <label class="col-sm-3 control-label no-padding-right visible-lg visible-md visible-sm">&nbsp;</label>

                    <div class="col-sm-9">
                        <span style="color:red">
                            Not valid number!
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> Rating </label>

                    <div class="col-sm-9">
                        <input type="number" id="idRating" placeholder="0" max="5" class="col-xs-10 col-sm-5" name="nameRating" ng-model="rating" />
                    </div>
                </div>
                <div class="form-group" ng-show="frmProd.nameRating.$error.number">
                    <label class="col-sm-3 control-label no-padding-right visible-lg visible-md visible-sm">&nbsp;</label>

                    <div class="col-sm-9">
                        <span style="color:red">
                            Not valid number!
                        </span>
                    </div>
                </div>
                <div class="form-group" ng-show="frmProd.nameRating.$error.max">
                    <label class="col-sm-3 control-label no-padding-right visible-lg visible-md visible-sm">&nbsp;</label>

                    <div class="col-sm-9">
                        <span style="color:red">
                            Maximum Rating is 5
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> Sequence </label>

                    <div class="col-sm-9">
                        <input type="number" id="idSequence" placeholder="Sequence" class="col-xs-10 col-sm-5" name="nameSequence" ng-model="sequence" />
                    </div>
                </div>
                <div class="form-group" ng-show="frmProd.nameSequence.$error.number">
                    <label class="col-sm-3 control-label no-padding-right visible-lg visible-md visible-sm">&nbsp;</label>

                    <div class="col-sm-9">
                        <span style="color:red">
                            Not valid number!
                        </span>
                    </div>
                </div>
                <input type="hidden" name="nameCatID" ng-model="subCategory.ID" />
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="button" ng-click="SaveUpdate()">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            {{btnText}}
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div>
            </form>

            <div class="hr hr-24"></div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="clearfix">
                        <div class="pull-right tableTools-container">
                            <div class="dt-buttons btn-overlap btn-group">
                                <a class="dt-button buttons-collection buttons-colvis btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" data-original-title="" title=""><span><i class="fa fa-search bigger-110 blue"></i> <span class="hidden">Show/hide columns</span></span></a><a class="dt-button buttons-copy buttons-html5 btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" data-original-title="" title=""><span><i class="fa fa-copy bigger-110 pink"></i> <span class="hidden">Copy to clipboard</span></span></a><a class="dt-button buttons-csv buttons-html5 btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" data-original-title="" title=""><span><i class="fa fa-database bigger-110 orange"></i> <span class="hidden">Export to CSV</span></span></a>
                                <a class="dt-button buttons-excel buttons-flash btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table">
                                    <span><i class="fa fa-file-excel-o bigger-110 green"></i> <span class="hidden">Export to Excel</span></span>
                                    <div style="position: absolute; left: 0px; top: 0px; width: 39px; height: 35px; z-index: 99;" data-original-title="" title="">
                                        <embed id="ZeroClipboard_TableToolsMovie_1" src="assets/swf/flashExport.swf" loop="false" menu="false" quality="best" bgcolor="#ffffff" name="ZeroClipboard_TableToolsMovie_1" allowscriptaccess="always" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="id=1&amp;width=39&amp;height=35" wmode="transparent" width="39" align="middle" height="35">
                                    </div>
                                </a>
                                <a class="dt-button buttons-pdf buttons-flash btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table">
                                    <span><i class="fa fa-file-pdf-o bigger-110 red"></i> <span class="hidden">Export to PDF</span></span>
                                    <div style="position: absolute; left: 0px; top: 0px; width: 39px; height: 35px; z-index: 99;" data-original-title="" title="">
                                        <embed id="ZeroClipboard_TableToolsMovie_2" src="assets/swf/flashExport.swf" loop="false" menu="false" quality="best" bgcolor="#ffffff" name="ZeroClipboard_TableToolsMovie_2" allowscriptaccess="always" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="id=2&amp;width=39&amp;height=35" wmode="transparent" width="39" align="middle" height="35">
                                    </div>
                                </a>
                                <a class="dt-button buttons-print btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" data-original-title="" title=""><span><i class="fa fa-print bigger-110 grey"></i> <span class="hidden">Print</span></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="table-header">
                        Results for "@ViewBag.Title"
                    </div>
                    <!-- div.table-responsive -->
                    <!-- div.dataTables_borderWrap -->
                    <div>
                        <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline no-footer">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="dataTables_length" id="dynamic-table_length">
                                        <label>
                                            Display
                                            <select data-ng-options="o for o in pageSizes" data-ng-model="selectedPageSize" ng-change="dropDownChanged()" class="form-control input-sm"></select>
                                            records
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div id="dynamic-table_filter" class="dataTables_filter">
                                        <label>Search:<input class="form-control input-sm" placeholder="" aria-controls="dynamic-table" type="search" ng-model="searchTerm" ng-change="SearchItem()"></label>
                                    </div>
                                </div>
                            </div>
                            <table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
                                <thead>
                                    <tr role="row">
                                        <th>
                                            <label class="pos-rel">
                                                <input type="checkbox" class="ace" ng-model="checkedAll" ng-change="toggleCheckAll()" />
                                                <span class="lbl"></span>
                                            </label>
                                        </th>
                                        <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="">
                                            <a href="javascript:void(0);" ng-click="deleteSelectedData(selectedIds)" class="tooltip-error" data-rel="tooltip" title="" data-original-title="Delete Selected">
                                                <span class="red">
                                                    <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                </span>
                                            </a>
                                        </th>
                                        <th class="sorting_disabled" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Domain: activate to sort column ascending">Image</th>
                                        <th class="sorting_disabled" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Price: activate to sort column ascending">Title</th>
                                        <th class="sorting_disabled" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Price: activate to sort column ascending">Category</th>
                                        <th class="sorting_disabled" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Price: activate to sort column ascending">Sub<br />Category</th>
                                        <th class="sorting_disabled" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Price: activate to sort column ascending">Original<br />Price</th>
                                        <th class="sorting_disabled" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Price: activate to sort column ascending">Discount</th>
                                        <th class="sorting_disabled" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Price: activate to sort column ascending">Offer<br />Price</th>
                                        <th class="sorting_disabled" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Price: activate to sort column ascending">IsOfferable</th>
                                        <th class="sorting_disabled" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Price: activate to sort column ascending">Quantity</th>
                                        <th class="sorting_disabled" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Price: activate to sort column ascending">Rating</th>
                                        <th class="hidden-480 sorting_disabled" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Sequence</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-show="products.length<=0">No Record(s) Found</tr>
                                    <tr @*ng-repeat="product in products"*@ 
                                        dir-paginate="product in products|itemsPerPage:pageSize" total-items="totalItems"
                                        role="row" ng-class="$even ? 'odd' : 'even'">
                                        <td>
                                            <label class="pos-rel">
                                                <input type="checkbox" class="ace" value="{{product.ID}}" ng-model="product.checked" ng-change="cbChecked(product)" />
                                                <span class="lbl"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <div class="hidden-sm hidden-xs action-buttons">
                                                <a class="green" href="javascript:void(0);" ng-click="GetProductByID(product.ID)">
                                                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                </a>
                                                <a class="red" href="javascript:void(0);" ng-click="DeleteProduct(product.ID)">
                                                    <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                                </a>
                                            </div>
                                            <div class="hidden-md hidden-lg">
                                                <div class="inline pos-rel">
                                                    <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                        <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                        <li>
                                                            <a href="javascript:void(0);" ng-click="GetProductByID(product.ID)" class="tooltip-success" data-rel="tooltip" title="" data-original-title="Edit">
                                                                <span class="green">
                                                                    <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);" ng-click="DeleteProduct(product.ID)" class="tooltip-error" data-rel="tooltip" title="" data-original-title="Delete">
                                                                <span class="red">
                                                                    <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                                </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                        <td><img ng-src="{{product.ImagePath}}" width="50px" height="50px" /></td>
                                        <td>{{product.Title}}</td>
                                        <td>{{product.CategoryName}}</td>
                                        <td>{{product.SubCategoryName}}</td>
                                        <td>{{product.OriginalPrice}}</td>
                                        <td>{{product.Discount}}</td>
                                        <td>{{product.OfferPrice}}</td>
                                        <td>{{product.IsOfferable}}</td>
                                        <td>{{product.Quantity}}</td>
                                        <td>{{product.Rating}}</td>
                                        <td class="hidden-480">{{product.Sequence}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="dataTables_info" id="dynamic-table_info" role="status" aria-live="polite">
                                        Total {{totalItems}} record(s) found
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    @*<div class="dataTables_paginate paging_simple_numbers" id="dynamic-table_paginate">
                                        <ul class="pagination">
                                            <li class="paginate_button previous disabled" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_previous"><a href="#">Previous</a></li>
                                            <li class="paginate_button active" aria-controls="dynamic-table" tabindex="0"><a href="#">1</a></li>
                                            <li class="paginate_button " aria-controls="dynamic-table" tabindex="0"><a href="#">2</a></li>
                                            <li class="paginate_button " aria-controls="dynamic-table" tabindex="0"><a href="#">3</a></li>
                                            <li class="paginate_button next" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_next"><a href="#">Next</a></li>
                                        </ul>
                                    </div>*@
                                    <dir-pagination-controls max-size="8"
                                                             direction-links="true"
                                                             boundary-links="true"
                                                             on-page-change="GetProducts(newPageNumber)">
                                    </dir-pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div><!-- /.col -->
    </div><!-- /.row -->
</div>

@section Scripts
{

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/ui-bootstrap-tpls.min.js"></script>
<script src="~/ScriptsNg/Directives/dirPagination.js"></script>
<script src="~/ScriptsNg/Directives/angucomplete-alt.js"></script>
<script src="~/ScriptsNg/Module/app.js"></script>
<script src="~/ScriptsNg/Services/BasePathFactory.js"></script>
<script src="~/ScriptsNg/Controllers/ProductCntrl.js"></script>
<script src="~/ScriptsNg/Services/CRUDwithFileService.js"></script>

}



