@{
    ViewBag.Title = "Super Market - Home";
}

<div ng-controller="HomeCntrl">
    <!-- main-slider -->
    <div id="slides_control">
        <carousel interval="myInterval">
            <slide ng-repeat="sb in silderBanners" active="sb.active">
                <img ng-src="{{sb.ImagePath}}" style="display:inline-block;width:100%!important;height:500px!important">
                <div class="carousel-caption">
                    <h4>{{sb.Description}}</h4>
                </div>
            </slide>
        </carousel>
    </div>
    <!-- //main-slider -->
    <!-- main-slider -->
    @*<ul id="skdslider" >
        <li ng-repeat="sb in silderBanners">
            <img ng-src="{{sb.ImagePath}}" alt="{{sb.Title}}" width="1280px" height="500px" />
            <!--Slider Description example-->
            <div class="slide-desc">
                <h3>{{sb.Description}}</h3>
            </div>
        </li>
    </ul>*@
    <!-- //main-slider -->
    <!-- //top-header and slider -->
    <!-- top-brands -->
    <div class="top-brands">
        <div class="container">
            <h2>Top selling offers</h2>
            <div class="grid_3 grid_5">
                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#expeditions" id="expeditions-tab" role="tab" data-toggle="tab" aria-controls="expeditions" aria-expanded="true">Top Discounts</a></li>
                        <li role="presentation"><a href="#tours" role="tab" id="tours-tab" data-toggle="tab" aria-controls="tours">This Week</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="expeditions" aria-labelledby="expeditions-tab">
                            <div class="agile-tp">
                                <h5>Top Discounts</h5>
                                <p class="w3l-ad">We've pulled together all our advertised offers into one place, so you won't miss out on a great deal.</p>
                            </div>
                            <div class="agile_top_brands_grids">
                                <div class="col-md-4 top_brand_left" ng-repeat="tdp in topDiscountedProducts | limitTo : 3:0">
                                    <div class="hover14 column">
                                        <div class="agile_top_brand_left_grid">
                                            <div class="agile_top_brand_left_grid_pos" ng-if="tdp.IsOfferable">
                                                <img src="~/Content/images/offer.png" alt="" class="img-responsive" />
                                            </div>
                                            <div class="agile_top_brand_left_grid1">
                                                <figure>
                                                    <div class="snipcart-item block">
                                                        <div class="snipcart-thumb">
                                                            <a href="~/Product/Details/{{tdp.ID}}">
                                                                <img title="{{tdp.Title}}" alt="{{tdp.Title}}" ng-src="{{tdp.ImagePath}}" width="150px" height="150px">
                                                            </a>
                                                            <p>{{tdp.Title}}</p>
                                                            <div class="stars">
                                                                <i class="fa fa-star {{tdp.Rating>=1?'blue-star':'gray-star'}}" aria-hidden="true"></i>
                                                                <i class="fa fa-star {{tdp.Rating>=2?'blue-star':'gray-star'}}" aria-hidden="true"></i>
                                                                <i class="fa fa-star {{tdp.Rating>=3?'blue-star':'gray-star'}}" aria-hidden="true"></i>
                                                                <i class="fa fa-star {{tdp.Rating>=4?'blue-star':'gray-star'}}" aria-hidden="true"></i>
                                                                <i class="fa fa-star {{tdp.Rating>=5?'blue-star':'gray-star'}}" aria-hidden="true"></i>
                                                            </div>
                                                            <h4 ng-if="tdp.IsOfferable">&#8377; {{tdp.OfferPrice}} <span>&#8377; {{tdp.OriginalPrice}}</span></h4>
                                                            <h4 ng-if="!tdp.IsOfferable">&#8377; {{tdp.OriginalPrice}} </h4>
                                                        </div>
                                                        @*<div class="snipcart-details top_brand_home_details">
                                                            <form action="#" method="post">
                                                                <fieldset>
                                                                    <input type="hidden" name="cmd" value="_cart" />
                                                                    <input type="hidden" name="add" value="1" />
                                                                    <input type="hidden" name="business" value=" " />
                                                                    <input type="hidden" name="item_name" value="Fortune Sunflower Oil" />
                                                                    <input type="hidden" name="amount" value="20.99" />
                                                                    <input type="hidden" name="discount_amount" value="1.00" />
                                                                    <input type="hidden" name="currency_code" value="USD" />
                                                                    <input type="hidden" name="return" value=" " />
                                                                    <input type="hidden" name="cancel_return" value=" " />
                                                                    <input type="submit" name="submit" value="Add to cart" class="button" />
                                                                </fieldset>
                                                            </form>
                                                        </div>*@
                                                    </div>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="clearfix"> </div>
                            </div>
                            <div class="agile_top_brands_grids">
                                <div class="col-md-4 top_brand_left" ng-repeat="tdp in topDiscountedProducts | limitTo : 3:3">
                                    <div class="hover14 column">
                                        <div class="agile_top_brand_left_grid">
                                            <div class="agile_top_brand_left_grid_pos" ng-if="tdp.IsOfferable">
                                                <img src="~/Content/images/offer.png" alt="" class="img-responsive" />
                                            </div>
                                            <div class="agile_top_brand_left_grid1">
                                                <figure>
                                                    <div class="snipcart-item block">
                                                        <div class="snipcart-thumb">
                                                            <a href="~/Product/Details/{{tdp.ID}}">
                                                                <img title="{{tdp.Title}}" alt="{{tdp.Title}}" ng-src="{{tdp.ImagePath}}" width="150px" height="150px">
                                                            </a>
                                                            <p>{{tdp.Title}}</p>
                                                            <div class="stars">
                                                                <i class="fa fa-star {{tdp.Rating>=1?'blue-star':'gray-star'}}" aria-hidden="true"></i>
                                                                <i class="fa fa-star {{tdp.Rating>=2?'blue-star':'gray-star'}}" aria-hidden="true"></i>
                                                                <i class="fa fa-star {{tdp.Rating>=3?'blue-star':'gray-star'}}" aria-hidden="true"></i>
                                                                <i class="fa fa-star {{tdp.Rating>=4?'blue-star':'gray-star'}}" aria-hidden="true"></i>
                                                                <i class="fa fa-star {{tdp.Rating>=5?'blue-star':'gray-star'}}" aria-hidden="true"></i>
                                                            </div>
                                                            <h4 ng-if="tdp.IsOfferable">&#8377; {{tdp.OfferPrice}} <span>&#8377; {{tdp.OriginalPrice}}</span></h4>
                                                            <h4 ng-if="!tdp.IsOfferable">&#8377; {{tdp.OriginalPrice}} </h4>
                                                        </div>
                                                        @*<div class="snipcart-details top_brand_home_details">
                                                            <form action="#" method="post">
                                                                <fieldset>
                                                                    <input type="hidden" name="cmd" value="_cart" />
                                                                    <input type="hidden" name="add" value="1" />
                                                                    <input type="hidden" name="business" value=" " />
                                                                    <input type="hidden" name="item_name" value="Fortune Sunflower Oil" />
                                                                    <input type="hidden" name="amount" value="35.99" />
                                                                    <input type="hidden" name="discount_amount" value="1.00" />
                                                                    <input type="hidden" name="currency_code" value="USD" />
                                                                    <input type="hidden" name="return" value=" " />
                                                                    <input type="hidden" name="cancel_return" value=" " />
                                                                    <input type="submit" name="submit" value="Add to cart" class="button" />
                                                                </fieldset>
                                                            </form>
                                                        </div>*@
                                                    </div>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tours" aria-labelledby="tours-tab">
                            <div class="agile-tp">
                                <h5>This Week</h5>
                                <p class="w3l-ad">We've pulled together all our offers into one place, so you won't miss out on a great deal.</p>
                            </div>
                            <div class="agile_top_brands_grids">
                                <div class="col-md-4 top_brand_left" ng-repeat="wtp in weeklyTopProducts | limitTo : 3:0">
                                    <div class="hover14 column">
                                        <div class="agile_top_brand_left_grid">
                                            <div class="agile_top_brand_left_grid_pos" ng-if="wtp.IsOfferable">
                                                <img src="~/Content/images/offer.png" alt="" class="img-responsive" />
                                            </div>
                                            <div class="agile_top_brand_left_grid1">
                                                <figure>
                                                    <div class="snipcart-item block">
                                                        <div class="snipcart-thumb">
                                                            <a href="~/Product/Details/{{wtp.ID}}">
                                                                <img title="{{wtp.Title}}" alt="{{wtp.Title}}" ng-src="{{wtp.ImagePath}}" width="150px" height="150px">
                                                            </a>
                                                            <p>{{wtp.Title}}</p>
                                                            <div class="stars">
                                                                <i class="fa fa-star {{wtp.Rating>=1?'blue-star':'gray-star'}}" aria-hidden="true"></i>
                                                                <i class="fa fa-star {{wtp.Rating>=2?'blue-star':'gray-star'}}" aria-hidden="true"></i>
                                                                <i class="fa fa-star {{wtp.Rating>=3?'blue-star':'gray-star'}}" aria-hidden="true"></i>
                                                                <i class="fa fa-star {{wtp.Rating>=4?'blue-star':'gray-star'}}" aria-hidden="true"></i>
                                                                <i class="fa fa-star {{wtp.Rating>=5?'blue-star':'gray-star'}}" aria-hidden="true"></i>
                                                            </div>
                                                            <h4 ng-if="wtp.IsOfferable">&#8377; {{wtp.OfferPrice}} <span>&#8377; {{wtp.OriginalPrice}}</span></h4>
                                                            <h4 ng-if="!wtp.IsOfferable">&#8377; {{wtp.OriginalPrice}} </h4>
                                                        </div>
                                                        @*<div class="snipcart-details top_brand_home_details">
                                                            <form action="#" method="post">
                                                                <fieldset>
                                                                    <input type="hidden" name="cmd" value="_cart" />
                                                                    <input type="hidden" name="add" value="1" />
                                                                    <input type="hidden" name="business" value=" " />
                                                                    <input type="hidden" name="item_name" value="Fortune Sunflower Oil" />
                                                                    <input type="hidden" name="amount" value="35.99" />
                                                                    <input type="hidden" name="discount_amount" value="1.00" />
                                                                    <input type="hidden" name="currency_code" value="USD" />
                                                                    <input type="hidden" name="return" value=" " />
                                                                    <input type="hidden" name="cancel_return" value=" " />
                                                                    <input type="submit" name="submit" value="Add to cart" class="button" />
                                                                </fieldset>
                                                            </form>
                                                        </div>*@
                                                    </div>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="clearfix"> </div>
                            </div>
                            <div class="agile_top_brands_grids">
                                <div class="col-md-4 top_brand_left" ng-repeat="wtp in weeklyTopProducts | limitTo : 3:3">
                                    <div class="hover14 column">
                                        <div class="agile_top_brand_left_grid">
                                            <div class="agile_top_brand_left_grid_pos" ng-if="wtp.IsOfferable">
                                                <img src="~/Content/images/offer.png" alt="" class="img-responsive" />
                                            </div>
                                            <div class="agile_top_brand_left_grid1">
                                                <figure>
                                                    <div class="snipcart-item block">
                                                        <div class="snipcart-thumb">
                                                            <a href="~/Product/Details/{{wtp.ID}}">
                                                                <img title="{{wtp.Title}}" alt="{{wtp.Title}}" ng-src="{{wtp.ImagePath}}" width="150px" height="150px">
                                                            </a>
                                                            <p>{{wtp.Title}}</p>
                                                            <div class="stars">
                                                                <i class="fa fa-star {{wtp.Rating>=1?'blue-star':'gray-star'}}" aria-hidden="true"></i>
                                                                <i class="fa fa-star {{wtp.Rating>=2?'blue-star':'gray-star'}}" aria-hidden="true"></i>
                                                                <i class="fa fa-star {{wtp.Rating>=3?'blue-star':'gray-star'}}" aria-hidden="true"></i>
                                                                <i class="fa fa-star {{wtp.Rating>=4?'blue-star':'gray-star'}}" aria-hidden="true"></i>
                                                                <i class="fa fa-star {{wtp.Rating>=5?'blue-star':'gray-star'}}" aria-hidden="true"></i>
                                                            </div>
                                                            <h4 ng-if="wtp.IsOfferable">&#8377; {{wtp.OfferPrice}} <span>&#8377; {{wtp.OriginalPrice}}</span></h4>
                                                            <h4 ng-if="!wtp.IsOfferable">&#8377; {{wtp.OriginalPrice}} </h4>
                                                        </div>
                                                        @*<div class="snipcart-details top_brand_home_details">
                                                            <form action="#" method="post">
                                                                <fieldset>
                                                                    <input type="hidden" name="cmd" value="_cart" />
                                                                    <input type="hidden" name="add" value="1" />
                                                                    <input type="hidden" name="business" value=" " />
                                                                    <input type="hidden" name="item_name" value="Fortune Sunflower Oil" />
                                                                    <input type="hidden" name="amount" value="20.99" />
                                                                    <input type="hidden" name="discount_amount" value="1.00" />
                                                                    <input type="hidden" name="currency_code" value="USD" />
                                                                    <input type="hidden" name="return" value=" " />
                                                                    <input type="hidden" name="cancel_return" value=" " />
                                                                    <input type="submit" name="submit" value="Add to cart" class="button" />
                                                                </fieldset>
                                                            </form>
                                                        </div>*@
                                                    </div>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //top-brands -->
    <!-- Carousel
       ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="{{$index}}" ng-class="$first?'active':''" ng-repeat="cb in carouselBanners"></li>
            @*<li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>*@
        </ol>
        <div class="carousel-inner" role="listbox">
            <div ng-class="$first?'item active':'item'" ng-repeat="cb in carouselBanners">
                <a href="{{cb.Url}}"> <img class="first-slide" ng-src="{{cb.ImagePath}}" alt="{{cb.Title}}" width="1600px" height="450px"/></a>
            </div>
            @*<div class="item">
                <a href="personalcare.html"> <img class="second-slide " src="~/Content/images/b3.jpg" alt="Second slide"></a>

            </div>
            <div class="item">
                <a href="household.html"><img class="third-slide " src="~/Content/images/b1.jpg" alt="Third slide"></a>

            </div>*@
        </div>

    </div><!-- /.carousel -->
    <!--banner-bottom-->
    <div class="ban-bottom-w3l">
        <div class="container">
            <div class="col-md-6 ban-bottom3">
                <div class="ban-top">
                    <img src="~/Content/images/p2.jpg" class="img-responsive" alt="" />

                </div>
                <div class="ban-img">
                    <div class=" ban-bottom1">
                        <div class="ban-top">
                            <img src="~/Content/images/p3.jpg" class="img-responsive" alt="" />

                        </div>
                    </div>
                    <div class="ban-bottom2">
                        <div class="ban-top">
                            <img src="~/Content/images/p4.jpg" class="img-responsive" alt="" />

                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-6 ban-bottom">
                <div class="ban-top">
                    <img src="~/Content/images/111.jpg" class="img-responsive" alt="" />


                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
    <!--banner-bottom-->
    <!--brands-->
    <div class="brands">
        <div class="container">
            <h3>Brand Store</h3>
            <div class="brands-agile">
                <div class="col-md-2 w3layouts-brand">
                    <div class="brands-w3l">
                        <p><a href="#">Lorem</a></p>
                    </div>
                </div>
                <div class="col-md-2 w3layouts-brand">
                    <div class="brands-w3l">
                        <p><a href="#">Lorem</a></p>
                    </div>
                </div>
                <div class="col-md-2 w3layouts-brand">
                    <div class="brands-w3l">
                        <p><a href="#">Lorem</a></p>
                    </div>
                </div>

                <div class="col-md-2 w3layouts-brand">
                    <div class="brands-w3l">
                        <p><a href="#">Lorem</a></p>
                    </div>
                </div>
                <div class="col-md-2 w3layouts-brand">
                    <div class="brands-w3l">
                        <p><a href="#">Lorem</a></p>
                    </div>
                </div>
                <div class="col-md-2 w3layouts-brand">
                    <div class="brands-w3l">
                        <p><a href="#">Lorem</a></p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="brands-agile-1">
                <div class="col-md-2 w3layouts-brand">
                    <div class="brands-w3l">
                        <p><a href="#">Lorem</a></p>
                    </div>
                </div>
                <div class="col-md-2 w3layouts-brand">
                    <div class="brands-w3l">
                        <p><a href="#">Lorem</a></p>
                    </div>
                </div>
                <div class="col-md-2 w3layouts-brand">
                    <div class="brands-w3l">
                        <p><a href="#">Lorem</a></p>
                    </div>
                </div>

                <div class="col-md-2 w3layouts-brand">
                    <div class="brands-w3l">
                        <p><a href="#">Lorem</a></p>
                    </div>
                </div>
                <div class="col-md-2 w3layouts-brand">
                    <div class="brands-w3l">
                        <p><a href="#">Lorem</a></p>
                    </div>
                </div>
                <div class="col-md-2 w3layouts-brand">
                    <div class="brands-w3l">
                        <p><a href="#">Lorem</a></p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="brands-agile-2">
                <div class="col-md-2 w3layouts-brand">
                    <div class="brands-w3l">
                        <p><a href="#">Lorem</a></p>
                    </div>
                </div>
                <div class="col-md-2 w3layouts-brand">
                    <div class="brands-w3l">
                        <p><a href="#">Lorem</a></p>
                    </div>
                </div>
                <div class="col-md-2 w3layouts-brand">
                    <div class="brands-w3l">
                        <p><a href="#">Lorem</a></p>
                    </div>
                </div>

                <div class="col-md-2 w3layouts-brand">
                    <div class="brands-w3l">
                        <p><a href="#">Lorem</a></p>
                    </div>
                </div>
                <div class="col-md-2 w3layouts-brand">
                    <div class="brands-w3l">
                        <p><a href="#">Lorem</a></p>
                    </div>
                </div>
                <div class="col-md-2 w3layouts-brand">
                    <div class="brands-w3l">
                        <p><a href="#">Lorem</a></p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--//brands-->
    <!-- new -->
    <div class="newproducts-w3agile">
        <div class="container">
            <h3>New offers</h3>
            <div class="agile_top_brands_grids">
                <div class="col-md-3 top_brand_left-1" ng-repeat="np in newProducts">
                    <div class="hover14 column">
                        <div class="agile_top_brand_left_grid">
                            <div class="agile_top_brand_left_grid_pos" ng-if="np.IsOfferable">
                                <img src="~/Content/images/offer.png" alt="" class="img-responsive">
                            </div>
                            <div class="agile_top_brand_left_grid1">
                                <figure>
                                    <div class="snipcart-item block">
                                        <div class="snipcart-thumb">
                                            @*<a href="javascript:void(0);" ng-click="goProductDetails(np.ID);">*@
                                            <a href="~/Product/Details/{{np.ID}}">
                                                <img title="{{np.Title}}" alt="{{np.Title}}" ng-src="{{np.ImagePath}}" width="150px" height="150px">
                                            </a>
                                            <p>{{np.Title}}</p>
                                            <div class="stars">
                                                <i class="fa fa-star {{np.Rating>=1?'blue-star':'gray-star'}}" aria-hidden="true"></i>
                                                <i class="fa fa-star {{np.Rating>=2?'blue-star':'gray-star'}}" aria-hidden="true"></i>
                                                <i class="fa fa-star {{np.Rating>=3?'blue-star':'gray-star'}}" aria-hidden="true"></i>
                                                <i class="fa fa-star {{np.Rating>=4?'blue-star':'gray-star'}}" aria-hidden="true"></i>
                                                <i class="fa fa-star {{np.Rating>=5?'blue-star':'gray-star'}}" aria-hidden="true"></i>
                                            </div>
                                            <h4 ng-if="np.IsOfferable">&#8377; {{np.OfferPrice}} <span>&#8377; {{np.OriginalPrice}}</span></h4>
                                            <h4 ng-if="!np.IsOfferable">&#8377; {{np.OriginalPrice}} </h4>
                                        </div>
                                        @*<div class="snipcart-details top_brand_home_details">
                                            <form action="#" method="post">
                                                <fieldset>
                                                    <input type="hidden" name="cmd" value="_cart">
                                                    <input type="hidden" name="add" value="1">
                                                    <input type="hidden" name="business" value=" ">
                                                    <input type="hidden" name="item_name" value="Fortune Sunflower Oil">
                                                    <input type="hidden" name="amount" value="35.99">
                                                    <input type="hidden" name="discount_amount" value="1.00">
                                                    <input type="hidden" name="currency_code" value="USD">
                                                    <input type="hidden" name="return" value=" ">
                                                    <input type="hidden" name="cancel_return" value=" ">
                                                    <input type="submit" name="submit" value="Add to cart" class="button">
                                                </fieldset>
                                            </form>
                                        </div>*@
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //new -->

</div>

@*<style type="text/css">
    
    img{
      margin:auto;
      width: 500px;
    }
    #slides_control {
      position:page;
      width: 1280px;
      height: 500px;
      left:50%;
      top:20px;
      margin-left:0px;
    }

</style>*@

@section Scripts
{
@*<script src="~/ScriptsNg/Directives/SliderDirective.js"></script>*@
<script src="~/ScriptsNg/Controllers/HomeCntrl.js"></script>
<script src="~/ScriptsNg/Services/ProductIDFactory.js"></script>
}